<h1 class="page-title">Admin Login</h1>
<% if @error %>
    <div class="error-message">
        <p><%= @error.html_safe %></p>
    </div>
<% end %>
<div class="main-container">
    <%= form_tag("/admin/login", method: "post", class: "login-form-box") do %>
        <%= hidden_field_tag('page', params[:page]) %>
        <%= text_field_tag(:key, nil, placeholder: "Votre clé", autocomplete: "off") %>
        <%= submit_tag("Login", class: "button") %>
    <% end %>
</div>
