<%
def parse_filter
    if @unanswered
        "?unanswered"
    elsif @unrated
        "?unrated"
    else
        ""
    end
end
%>
<% puts "Preparing caches to display questions list" %>
<% @spe.build_all_caches unless @spe.nil? %>
<% answer_scores = Answer::build_scores_table %>

<% collection.each do |q| %>
    <div class="centerer">
        <div class="coeff-box" id="question-<%= q.id %>">
            <%= form_tag("/questions/#{q.id}/vote", method: "post",
                         class: "vote-form #{q.chosen_vote_class(@spe)}", remote: "true") do %>
                <%= hidden_field_tag("", q.chosen_vote(@spe), name: "previousvote", class: "previousvote") %>
                <%= submit_tag("", name: "upvote", id: "upvote", onclick: "setUpvoted(this.parentNode)") %>
                <p class="votes"><%= q.vote_count %></p>
                <%= submit_tag("", name: "downvote", id: "downvote", onclick: "setDownvoted(this.parentNode)") %>
            <% end %>
            <div class="divider"></div>
            <p class="your-coeff"><%= q.chosen_coeff(@spe) %></p>
            <p class="general-coeff"><%= q.coeff.round(1) %></p>
        </div>
    </div>
    <li class="question-box">
        <div class="question-title-wrapper">
            <h3 class="question-title"  onclick="showAnswerPoints(this)"><%= q.question %></h3>
            <a class="modify-button" href="/questions/<%= q.id %><%= parse_filter %>"></a>
        </div>
        <% if q.multiple %>
            <div class="multiple">
                <p>Question à réponses multiples</p>
            </div>
        <% end %>
        <ul class="answers-container">
            <% q.answer.order(:answer_number).each do |a| %>
                <li class="answer-box">
                    <% points = @spe.nil? ? 0 : (@spe.points_cache[a.id] || a.points(@spe)) %>
                    <p class="answer-private-points"><%= points == 0 ? "-" : points %></p>
                    <div class="answer-public">
                        <p class="answer-title"><%= a.answer %></p>
                        <p class="answer-scores"><%= answer_scores[a.id] %></p>
                    </div>
                </li>
            <% end %>
        </ul>
    </li>

    <% comments = q.comments %>
    <% unless comments.empty? %>
        <div class="comments">
            <% comments.each do |c| %>
                <p class="comment"><%= "#{c[:user]} : #{c[:comment]}" %></p>
            <% end %>
            <%= form_tag("/questions/#{q.id}/comment", method: "post", class: "add-comment-box", remote: true, onsubmit: "sendComment(this)") do %>
                <%= text_field_tag(:comment_buff, nil, placeholder: "Commenter", class: "comment-input", autocomplete: "off") %>
                <%= hidden_field_tag(:comment, nil, class: "comment-hidden")%>
                <%= submit_tag("Send", class: "comment-button")%>
            <% end %>
        </div>
    <% end %>
<% end %>
