<h1 class="page-title">Ajoutez votre question</h1>
<div class="main-container">
<%= form_tag("/questions/new", method: "post", class: "question-form-box") do %>
    <%= text_field_tag(:question, nil, placeholder: "Votre question", class: "question-input", autocomplete: "off") %>
    <div id="answers-box"></div>
    <div class="bottom-buttons">
        <p class="button" onclick="addAnswer()">Ajouter une réponse</p>
        <%= submit_tag("Valider", class: "button", id: "submit-button") %>
    </div>
<% end %>
</div>

<%= javascript_include_tag "question_buttons.js" %>

<script type="text/javascript">
 var total_points_per_question = <%= Rails.configuration.x.total_points_per_question %>;
 addAnswer();
 addAnswer();
</script>
