<div class="header">
    <h5 class="side-title">HX2 - 2016/2017</h5>
    <h1 class="page-title">Adopte un Spé</h1>
</div>

<div class="main-container justify">
    <p>Ce site est exclusivement destiné aux élèves de HX2 du Lycée Louis-Le-Grand. L'accès à son contenu requiert la possession d'une clé alphanumérique qui a dû vous être transmise par e-mail. Si vous êtes élève en HX2 et n'avez pas reçu votre clé, merci de contacter votre délégué pour remédier à ce problème.</p>
    <p>Si vous disposez bien de votre clé, vous pouvez naviguer dans le site au moyen des liens en bas à droite de cette page.</p>
    <p>Pour de plus amples informations sur le mode de fonctionnement de ce site, merci de consulter le <a href="https://github.com/Sevis666/adopteunspe/blob/master/doc/user_manual.md">manuel d'utilisation</a> disponible sur github.</p>
    <hr style="margin:2rem"/>
    <p>Si vous souhaitez apporter quelquechose à la construction de ce site ou si vous avez des réclamations, merci de m'écrire, à l'adresse suivante: <a href="mailto:david.robin97@gmail.com">david.robin97@gmail.com</a></p>
    <p>Si cela concerne la sécurité du site, la protection des données de ses utilisateurs, ou toute autre information sensible, merci de crypter votre message en utilisant <a href="/public/sevisKey.asc">ma clé PGP</a></p>
</div>

<div class="footer">
    <p class="copyright small">&copy; David ROBIN</p>
    <div class="bottom-links">
        <h5><%= link_to "questions", "/questions" %></h5>
        <h5><%= link_to "annonces", "/message_board" %></h5>
        <h5><%= link_to "archives", "/archive" %></h5>
        <h5><%= link_to "preview", "/user_login" %></h5>
        <h5><%= link_to "logs", "/admin" %></h5>
    </div>
</div>
