<h1 class="page-title">Modifier une question</h1>
<% q = Question.find(params[:id]) %>
<div class="main-container">
    <%= form_tag("/questions/new", method: "post", class: "question-form-box") do %>
        <%= hidden_field_tag(:chain, true) if params.has_key? :chain %>
        <% if params.has_key? :unanswered %>
            <%= hidden_field_tag(:unanswered, true) %>
        <% elsif params.has_key? :unrated %>
            <%= hidden_field_tag(:unrated, true) %>
        <% end %>
        <%= hidden_field_tag('question_id', params[:id]) %>
        <div class="flex-box-reverse">
            <%= number_field_tag(:coeff, q.chosen_coeff(@spe), class: "private-points-input", min: 0, max: 10) %>
            <%= text_field_tag(:question, nil, value: q.question, class: "question-input", autocomplete: "off") %>
        </div>

        <div id="answers-box">
            <% q.answer.order(:answer_number).each_with_index do |a, i| %>
                <div class="answer">
                    <div class="upper-box">
                        <input type="number" name="answers[<%= i+1 %>][points]" value="<%= a.points(@spe) %>" class="private-points-input" min="0" max="10">
                        <input type="text" name="answers[<%= i+1 %>][answer]" value="<%= a.answer %>" class="answer-input">
                    </div>
                </div>
            <% end %>
        </div>
        <div class="bottom-buttons">
            <p class="button" onclick="addAnswer()">Ajouter une réponse</p>
            <%= submit_tag(params.has_key?(:chain) ? "Valider & Suivant" : "Valider",
                           class: "button", id: "submit-button") %>
        </div>
    <% end %>

    <% comments = q.comments %>
    <div class="comments">
        <% comments.each do |c| %>
            <p class="comment"><%= "#{c[:user]} : #{c[:comment]}" %></p>
        <% end %>
        <%= form_tag("/questions/#{q.id}/comment", method: "post", class: "add-comment-box #{comments.empty? ? 'no-comments' : ''}",
                     remote: true, onsubmit: "sendComment(this)") do %>
            <%= text_field_tag(:comment_buff, nil, placeholder: "Commenter", class: "comment-input", autocomplete: "off") %>
            <%= hidden_field_tag(:comment, nil, class: "comment-hidden")%>
            <%= submit_tag("Send", class: "comment-button")%>
        <% end %>
    </div>
</div>

<script type="text/javascript">
 var fullName = "<%= @spe.full_name %>";
</script>

<%= javascript_include_tag "question_buttons.js" %>
<%= javascript_include_tag "send_comment.js" %>
