<h1 class="page-title">Questions actuelles :</h1>
<%= link_to "Ajouter une autre question", "/questions/new", class: "button centered-button" %>
<%= link_to "", "#bottom", class: "to-bottom-button" %>
<ul class="main-container">
    <div class="centerer">
        <h4>Filtrer les questions par</h4>
        <div class="info-links">
            <%= link_to "Vote", "/questions/unvoted" %>
            <%= link_to "Réponses", "/questions/unanswered" %>
            <%= link_to "Coefficients", "/questions/unrated" %>
        </div>
    </div>
    <%= render 'question', collection: Question.all.order(:id) %>
</ul>
<%= link_to "Ajouter une autre question", "/questions/new", class: "button centered-button", id: "bottom" %>
<p class="user-info"><%= @spe.full_name %></p>
<%= link_to "", "#", class: "to-top-button" %>

<script type="text/javascript">
 window.onload =
     function () {
         window.history.pushState("", document.title, location.href.split('#')[0]);
     };
var fullName = "<%= @spe.full_name %>";
</script>

<%= javascript_include_tag "send_comment.js" %>
<%= javascript_include_tag "toggle_question_points.js" %>
<%= javascript_include_tag "vote_question.js" %>
