<h1 class="page-title">Questions actuelles :</h1>
<%= link_to "Ajouter une autre question", "/questions/new", class: "button centered-button" %>
<ul class="main-container">
<% def clean string
    string = string.force_encoding('UTF-8')
    string = string.split.join(' ')
    string.gsub(/[éèêîôàâûïüÉÈÊÎÔÀÂÛÏÜ]/,
                "é" => "&eacute;",
                "è" => "&egrave;",
                "ê" => "&ecirc;" ,
                "î" => "&icirc;" ,
                "ô" => "&ocirc;" ,
                "à" => "&agrave;",
                "â" => "&acirc;" ,
                "û" => "&ucirc;" ,
                "ü" => "&uuml;"  ,
                "ï" => "&iuml;"  ,
                "É" => "&Eacute;",
                "È" => "&Egrave;",
                "Ê" => "&Ecirc;" ,
                "Î" => "&Icirc;" ,
                "Ô" => "&Ocirc;" ,
                "À" => "&Agrave;",
                "Â" => "&Acirc;" ,
                "Û" => "&Ucirc;" ,
                "Ü" => "&Uuml;"  ,
                "Ï" => "&Iuml;"  )
end %>
    <% Question.all.order(:id).each do |q| %>
        <li class="question-box">
            <div class="question-title-wrapper">
                <h3 class="question-title"  onclick="showAnswerPoints(this)"><%= clean(q.question).html_safe %></h3>
                <a class="modify-button" href="/questions/<%= q.id %>"></a>
            </div>
            <ul class="answers-container">
                <% q.answer.order(:answer_number).each do |a| %>
                    <li class="answer-box">
                        <p class="answer-title"><%= clean(a.answer).html_safe %></p>
                        <p class="answer-scores"><%= a.print_scores.join(', ') %></p>
                    </li>
                <% end %>
            </ul>
        </li>

        <% comments = q.comments %>
        <% unless comments.empty? %>
            <div class="comments">
                <% comments.each do |c| %>
                    <p class="comment"><%= clean("#{c[:user]} : #{c[:comment]}").html_safe %></p>
                <% end %>
                <%= form_tag("/questions/#{q.id}/comment", method: "post", class: "add-comment-box", remote: true, onsubmit: "sendComment(this)") do %>
                    <%= text_field_tag(:comment_buff, nil, placeholder: "Commenter", class: "comment-input", autocomplete: "off") %>
                    <%= hidden_field_tag(:comment, nil, class: "comment-hidden")%>
                    <%= submit_tag("Send", class: "comment-button")%>
                <% end %>
            </div>
        <% end %>
    <% end %>
</ul>
<%= link_to "Ajouter une autre question", "/questions/new", class: "button centered-button" %>
<p class="user-info"><%= @spe.full_name %></p>

<script>
 var fullName = "<%= @spe.full_name %>";
 function showAnswerPoints(div) {
     var c = div.parentNode.parentNode.className;
     if (c == "question-box") {
         c = "question-box shown";
     } else {
         c = "question-box";
     }
     div.parentNode.parentNode.className = c;
 }
</script>

<%= javascript_include_tag "send_comment.js" %>
