<h1 class="page-title">Questions actuelles :</h1>
<%= link_to "", "#bottom", class: "to-bottom-button" %>
<ul class="main-container">
  <% announcements = Announcement.all.to_a.delete_if { |a| a.expired? }
     count = announcements.size
     announcements.keep_if { |a| a.content.size <= 280 } %>
  <% announcements.each do |ann| %>
    <div class="info">
      <p><%= ann.content %></p>
    </div>
  <% end %>
  <% if announcements.size < count %>
    <div class="info">
      <p>Pour voir toutes les annonces, merci de consulter <a href="/message_board">la page d'annonces</a>.</p>
    </div>
  <% end %>
    <div class="centerer top-spacing">
        <h4>Filtrer les questions par</h4>
        <div class="info-links">
            <%= link_to "Vote", "/questions/unvoted" %>
            <%= link_to "Réponses", "/questions/unanswered" %>
            <%= link_to "Coefficients", "/questions/unrated" %>
        </div>
    </div>
    <%= render 'question', collection: Question.all.order(:id) %>
</ul>

<% unless Config::frozen?(:questions) %>
  <%= link_to "Ajouter une autre question", "/questions/new", class: "button centered-button", id: "bottom" %>
<% end %>

<p class="user-info"><%= @spe.nil? ? "" : @spe.full_name %></p>
<%= link_to "", "#", class: "to-top-button" %>

<script type="text/javascript">
 window.onload =
     function () {
         window.history.pushState("", document.title, location.href.split('#')[0]);
     };
var fullName = "<%= @spe.nil? ? "" : @spe.full_name %>";
</script>

<%= javascript_include_tag "send_comment.js" %>
<%= javascript_include_tag "toggle_question_points.js" %>
<%= javascript_include_tag "vote_question.js" %>
