<h1 class="page-title">Questions à réponse invalide</h1>
<%= link_to "", "/questions", class: "home-button" %>
<%= link_to "", "#bottom", class: "to-bottom-button" %>
<ul class="main-container">
    <% collection = @spe.unanswered_questions %>
    <% unless collection.empty? %>
        <div class="centerer">
          <h4>Pour aller plus vite, vous pouvez aussi
            <%= link_to "enchaîner les questions",
              "/questions/#{collection.first.id}?unanswered&chain",
             class: "color-changing-link" %></h4>
        </div>
        <div class="info">
            <p>Le total de vos points sur ces questions n'est pas 10</p>
            <p>Pour attribuer vos points, cliquer sur l'icône de modification</p>
        </div>
    <% end %>
    <%= render 'question', collection: collection %>
    <% if collection.empty? %>
      <div class="centerer">
            <p>C'est bon !</p>
            <p>Vous avez répondu de façon valide à toutes les questions</p>
            <p>Repassez plus tard, d'autres questions pourraient être ajoutées</p>
        </div>
    <% end %>
</ul>
<p class="user-info"><%= @spe.full_name %></p>
<%= link_to "", "#", class: "to-top-button" %>

<script type="text/javascript">
 window.onload =
     function () {
         window.history.pushState("", document.title, location.href.split('#')[0]);
     };
var fullName = "<%= @spe.full_name %>";
</script>

<%= javascript_include_tag "send_comment.js" %>
<%= javascript_include_tag "toggle_question_points.js" %>
<%= javascript_include_tag "vote_question.js" %>
